<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Side Navigation Bar</title>
    <link rel="stylesheet" href="../style.css" />
    <script src="https://kit.fontawesome.com/f62944ccbd.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <ul>
          <li>
            <a href="../index.html"><i class="fas fa-home"></i>Home</a>
          </li>
          <li>
            <a href="profile.html"><i class="fas fa-user"></i>Profile</a>
          </li>
          <li>
            <a href="about.html"><i class="fas fa-address-card"></i>About</a>
          </li>
          <li>
            <a href="portfolio.html"
              ><i class="fas fa-project-diagram"></i>portfolio</a
            >
          </li>
          <li>
            <a href="blogs.html"><i class="fas fa-blog"></i>Blogs</a>
          </li>
          <li>
            <a href="contact.html"
              ><i class="fas fa-address-book"></i>Contact</a
            >
          </li>
          <li>
            <a href="projects.html" target="_blank"
              ><i class="fas fa-cogs"></i>Projects</a
            >
          </li>
        </ul>
        <div class="social_media">
          <a href="https://www.facebook.com/vishal.s.chauhan.3/" target="_blank"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            href="https://www.youtube.com/channel/UC-8uOoNps9NQeZlyU2qP1Vg"
            target="_blank"
            ><i class="fab fa-youtube"></i
          ></a>
          <a href="https://www.instagram.com/vishalam36/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <div class="main_content">
        <div class="header"><h1>PROJECTS BY VISHAL</h1></div>
        <div class="info">
          <div>
            <a href="../projects/01- guessing game/index.html" target="_blank"
              >Guessing Game!</a
            >

            <br />

            <a href="../projects/02- Modal Window/index.html" target="_blank"
              >Modal Window!</a
            >

            <br />

            <a href="../projects/03- Color Flipper/index.html" target="_blank"
              >Color Flipper</a
            >

            <br />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!--///////////////////////////////////////////////////////////////////////// -->
<!--///////////////////////////////////////////////////////////////////////// -->
<!--///////////////////////////////////////////////////////////////////////// -->
<!--///////////////////////////////////////////////////////////////////////// -->
<!--///////////////////////////////////////////////////////////////////////// -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
  </head>
  <body>
    
  </body>
</html> -->
